*{
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    
    background: var(--bg);
}

ul{
    font-family: Helvetica;
}
p, h1{
    padding: 10px;
}

li{
    list-style: circle;

}
.list{
    list-style: square;
}



:root{
    --green: #00ff00;
    --white: #fffff1;
    --black: #000010;
}

.light-theme{

    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg:var(--black);
    --btnFontColor:var(--white);

}
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--green);
    --btnFontColor:var(--black);
}

.btn{
    position: absolute;
    top:30px;
    left: 290px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus{
    outline-style: none;
    /* PARA MELHORAR A APARÊNCIA DO BOTÂO, ADICIONE UM SELETOR DE PSEUDOCLASSE,
        VOC ELIMINA UM CONTORNO RETANGULAR QUANDO O BOTÃO É SELECIONADO.*/
}